<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="crudoperations.Crudoperationusingpojo"/>
      <class name="crudoperations.Deleteoperation"/>
      <class name="crudoperations.Putoperation"/>
      <class name="crudoperations.Getoperation"/>
      <class name="crudoperations.Postoperation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
